<!DOCTYPE html>
<html>

<head>
    <style>
        body {
            background-color: black;
            color: white;
            font-family: Arial, Helvetica, sans-serif;
        }

        button {
            width: 100%;
            z-index: 1000000;
            border-radius: 0px;
            background-color: black;
            color: white;
        }

        iframe {
            z-index: 9999;
        }
    </style>
</head>

<body>
    <button id="addChat">Add chat</button>
    <button id="changeUsername">Change Username</button>
    <div id="navbar">

    </div>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js "></script>
    <script>
        const navbar = document.getElementById("navbar")

        /**
         * Creates a button in the navbar
         * @param {string} text the text of the button
         * @returns {HTMLElement} the created button
         */
        function CreateButton(text) {
            // create a new button element
            const item = document.createElement("button")
            // set the text of the button
            item.textContent = text
            // add the button to the navbar
            navbar.appendChild(item)
            // return the created button
            return item
        }

        if (window.Cookies.get("chats") == undefined) {
            window.Cookies.set("chats", "[]", { expires: 365 })
        }

        let chats = JSON.parse(window.Cookies.get("chats"))
        if (chats.length == 0) {
            localStorage.removeItem("joinCode")
            localStorage.setItem("refresh", "true")
        }
        console.log(window.Cookies.get("chats"), window.Cookies)

        let buttons = []
        const firstButton = CreateButton("12345")
        firstButton.addEventListener("click", () => {
            for (const bt of buttons) {
                bt.style.backgroundColor = "black"
            }
            firstButton.style.backgroundColor = "red"
            localStorage.setItem("joinCode", "12345")
            localStorage.setItem("refresh", "true")
        })

        const oldDesignButton = CreateButton("Old Design")
        oldDesignButton.addEventListener("click", () => {
            localStorage.setItem("oldDesign", "true");
            localStorage.setItem("refreshMain", "true")
            document.location.pathname = "/app/";
        });

        for (const element of chats) {
            const button = CreateButton(element)
            buttons.push(button)
            if (localStorage.getItem("joinCode") == element) {
                button.style.backgroundColor = "red"
            }
            button.addEventListener("click", () => {
                for (const bt of buttons) {
                    bt.style.backgroundColor = "black"
                }
                button.style.backgroundColor = "red"
                localStorage.setItem("joinCode", element)
                localStorage.setItem("refresh", "true")
            })
        }
        document.getElementById("addChat").addEventListener("click", () => {
            let room
            open("/home/views/add.html")

            const i = setInterval(() => {

                if (localStorage.getItem("room")) {
                    room = localStorage.getItem("room")
                    localStorage.removeItem("room")
                    console.log(chats)
                    const c = chats.push(room)
                    window.Cookies.set("chats", JSON.stringify(chats))
                    document.location.reload()
                    clearInterval(i)
                }


            }, 500)
        })
        document.getElementById("changeUsername").addEventListener("click", () => {
            localStorage.setItem("changeUsername", "true")
        })
    </script>
</body>

</html>